/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.tdws-tracking-item-box ul {
    list-style: none !important;
    margin: 10px 0 0;
}
.tdws-tracking-item table, .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table, .woocommerce table.shop_table .tdws-tracking-item table {border-collapse: collapse;margin-top: 15px;}
.tdws-tracking-item table th,.tdws-tracking-item table td,
.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table th,.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td
.woocommerce table.shop_table .tdws-tracking-item table th,.woocommerce table.shop_table .tdws-tracking-item table td {
    border-color: #ccc;
    word-break: break-all;
    padding: 9px 12px;
    border: 1px solid #ccc;
}
.tdws-tracking-item tbody tr:last-child td,
.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item tbody tr:last-child td,
.woocommerce table.shop_table .tdws-tracking-item tbody tr:last-child td {
    border-bottom: 1px solid #ccc;
}
.tdws-tracking-item table th.tdws-tracking-no, .tdws-tracking-item table td.tdws-tracking-no,
.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table th.tdws-tracking-no,.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td.tdws-tracking-no,
.woocommerce table.shop_table .tdws-tracking-item table th.tdws-tracking-no,.woocommerce table.shop_table .tdws-tracking-item table td.tdws-tracking-no {
    width: 34%;
}

.tdws-tracking-item table th, .tdws-tracking-item table td,
.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table th,.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td,
.woocommerce table.shop_table .tdws-tracking-item table th,.woocommerce table.shop_table .tdws-tracking-item table td {
    width: 22%;
}
.tdws-tracking-item table th,
.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table th,
.woocommerce table.shop_table .tdws-tracking-item table th {
    background: #dfdede;
    border-color: #ccc;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #ccc !important;
}
.tdws-tracking-item table th.tdws-tracking-no,
.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table th.tdws-tracking-no,
.woocommerce table.shop_table .tdws-tracking-item table th.tdws-tracking-no {
    text-align: left;
}
.tdws-tracking-item table td,
.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td,
.woocommerce table.shop_table .tdws-tracking-item table td {
    font-size: 14px;
    text-align: center;
}
.tdws-tracking-item table td.tdws-carrier a,
.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td.tdws-carrier a,
.woocommerce table.shop_table .tdws-tracking-item table td.tdws-carrier a {
    text-transform: uppercase;
}

.tdws-tracking-item table td.tdws-tracking-no,
.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td.tdws-tracking-no,
.woocommerce table.shop_table .tdws-tracking-item table td.tdws-tracking-no {
    text-align: left;
}  

/* Progress Bar CSS  */ 

.tdws-tracking-title h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    font-family: inherit;
    margin-top: 20px;
}
.tdws-tracking-title h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    font-family: inherit;
    margin-top: 0;
    display: block;
}
.tdws-tracking-flex.tdws-tracking-title {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
}
.tdws-tracking-row.tdws-tracking-title-row {
    display: block;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-top: 10px;
}
.tdws-tracking-row.tdws-tracking-title-row {
    display: block;
}
.tdws-tracking-title-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    display: block;
}
.tdws-tracking-title-info p a {
    color: #ff6a00;
    text-decoration: none !important;
}
.tdws-tracking-title-info p span span {
    font-weight: 700;
}

.tdws-tracking-flex.tdws-tracking-title-info {
    display: block;
    padding: 10px;
}

.tdws-progressbar {
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    text-align: center;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 0;
    margin-bottom: 20px !important;
}

.tdws-progressbar li {
    list-style-type: none;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    margin-top: 8px;
    display: inline-block;
    line-height: 1.5;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

.tdws-progressbar .tdws-step:before {
    display: flex;
    content: "";
    color: #fff;
    justify-content: center;
    align-items: center;
}

.tdws-progressbar li:before {
    width: 20px;
    height: 20px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #dfdede;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
    z-index: 1;
    position: relative;
    border: 2px solid #d3d3d3;
}
.tdws-progressbar li.active:before {
    content: "\2714";
    font-size: 11px;
    border-color: #ff6a00;
}

/*ProgressBar connectors*/
.tdws-progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: #dfdede;
    position: absolute;
    left: 0;
    top: 10px;
}
span.tdws-progress-label {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    margin-top: 8px;
    display: inline-block;
    line-height: normal;
}

.tdws-progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

.tdws-progressbar li:nth-child(2):after, .tdws-progressbar li:nth-child(3):after {
    left: -50%;
}

.tdws-progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

.tdws-progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tdws-progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
.tdws-progressbar li.active:before, .tdws-progressbar li.active:after {
    background: #ff6a00;
}
span.tdws-progress-label {
    display: block;
} 
.tdws-img-icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.tdws-icon-box { 
    padding-bottom: 20px;
}
.tdws-icon-box svg {
    width: 50px;
    height: 50px;
}
.tdws-progressbar-info .tdws-tracking-flex{
    width: 50%;
    gap: 15px;
}
.tdws-tracking-flex {
    display: flex;
}

.tdws-tracking-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.tdws-progressbar-info {
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}
span.tdws-loader {
    display: none;    
}
.tdws-loader img {
    max-width: 20px !important;
    width: 100%;
    height: auto;
}
.tdws-loader-button.active span.tdws-loader{
    display: inline-block;
}

.tdws-provider-events {
    padding: 10px 20px 20px;
}
.tdws-provider-events ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.tdws-provider-events ul:before {
    position: absolute;
    content: "";
    width: 2px;
    background-color: #d2d5d8;
    top: 55px;
    bottom: 40px;
    left: 14px;
}
.tdws-provider-events ul li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.tdws-provider-events ul li:first-child .tdws-box-icon .tdws-border {
    border-color: #ff6a00;
}
.tdws-provider-events ul li:first-child .tdws-box-icon .tdws-border .tdws-active-icon {
    background-color: #ff6a00;
}
.tdws-provider-events ul li .tdws-box-icon {
    width: 30px;
    min-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    position: relative;
    top: 1px;
}
.tdws-provider-events ul li .tdws-box-icon .tdws-border {
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #e0e0e0;
}
.tdws-provider-events ul li .tdws-box-icon .tdws-border .tdws-active-icon {
    width: 14px;
    height: 14px;
    background-color: #d2d5d8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tdws-provider-events ul li .tdws-box-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #f0f0f1;
    border-radius: 8px;
    width: 100%;
    word-break: break-all;
    margin-left: 10px;
}
.tdws-provider-events ul li .tdws-box-info .tdws-provider-desc,
.tdws-provider-events ul li .tdws-box-info .tdws-provider-location {
    font-size: 14px;
    line-height: 24px;
    color: #212121;
}

.tdws-provider-list .tdws-provider-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.tdws-provider-list .tdws-provider-info h3 {
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    color: #000;
    margin: 0;
}
.tdws-provider-list .tdws-provider-info h4 {
    color: #212121;
    font-size: 16px;
    margin: 0;
    margin-left: 5px;
    white-space: nowrap;
}
.tdws-traking-id-info h4 {
    margin: 0 0 20px;
}
.tdws-popup-wrapper {
    padding: 15px;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
    background: #f0f0f1;
    width: auto;
    margin: 20px auto;
}
.tdws-tracking-update-info-wrap {
    background: #fff;
    border: 1px solid #d2d5d8;
    border-radius: 10px;
}
.tdws-popup-wrapper button.tdws-close {
    font-size: 22px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 18px;
    right: 18px;
}
.tdws-tracking-updates-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    box-sizing: border-box;
    background-color: #111111;
    border-radius: .33rem;
    border-color: #111111;
    border-width: 0;
    color: #f9f9f9 !important;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: inherit;
    padding: 0.6rem 1rem;
    text-decoration: none;
}
.tdws-tracking-updates-btn:hover {
    background-color: #636363;
    border-color: #636363;
    color: #f9f9f9 !important;
}
.tdws-loader img {
    vertical-align: middle;
    margin-left: 5px;
}
.tdws-tracking-row.tdws-tracking-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    padding: 10px;
}
.tracklist-icon svg {
    width: 25px;
    height: 25px;
}

.tracklist-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.tracklist-icon {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #d2d5d8;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}
.tracklist-header .tdws-provider-box div p {
    font-size: 14px;
}
.status-progress {
    padding: 10px 0px 0;
}
.status-progress .status-progress-title {
    font-size: 16px;
    color: #000;
    font-weight: 600;
}


.tracklist-header .tdws-provider-box {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width:320px;
   display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.tracklist-header p {
    margin: 0;
}






.tdws-provider-list .tdws-main-header {
    padding: 10px 20px;
    border-bottom: 1px solid #d2d5d8;
}


.tdws-tracking-update-popup .btn-icon, .tdws-tracking-update-popup .btn.icon {
    padding: 9px;
}
.tdws-tracking-update-popup .btn-icon, .tdws-tracking-update-popup .btn.icon {
    padding: 10px;
    font-size: 16px;
    line-height: 1em;
}
.tdws-tracking-update-popup .btn {
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.57142857;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    -webkit-transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
    -o-transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
    transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
    -webkit-font-smoothing: subpixel-antialiased;
}
.tdws-tracking-update-popup .btn {
    display: inline-block;
    padding: 6px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57142857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.tracklist-header .tracklist-icon div p {
    font-size: 16px;
}

.tdws-coupon-list {
    display: grid;
    grid-row-gap: 20px;
}

/* Coupon CSS */
.tdws-coupon-item {
    min-height: 100px;
    padding: 15px;
    align-items: center;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    flex-wrap:wrap;
    box-shadow: 0px 0px 5px #ccc;
}
.tdws-coupon-img {
    width: 150px;
    border: 1px solid #ccc;
    padding: 5px;
}

.tdws-coupon-img img {
    width: 100%;
    height: auto;
}

.tdws-coupon-info {
    width: calc( 100%  - 150px );
    padding-left: 15px;
}
.tdws-coupon-title-box .tdws-coupon-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: inherit;
    margin-bottom: 0;
}
.tdws-offer-highlight,.tdws-coupon-date {
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
}

.tdws-coupon-link a {
    text-decoration: none !important;
}
.tdws-coupon-date {
    margin-top: 10px;
}
.tdws_coupon_code h4 {
    display: inline-block;
    line-height: 3.125rem;
    overflow: hidden;
    padding: 0 20px;
    position: static;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #edf2ff;
    font-size: 24px;
    font-weight: 600;
    border: 1px dotted blue;
    cursor: pointer;
    margin-bottom:0;
}
.tdws_coupon_code {
    margin-top: 10px;
    position:relative;
    width: max-content;
}
.tdws_coupon_code h4::after {
    background-color: #3258b3;
    border-radius: 2px;
    bottom: -30px;
    color: #fff;
    content: "Click to copy code";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.14;
    padding: .5rem;
    white-space: nowrap;
    z-index: 200;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%);
    transition: opacity .5s;
    visibility: hidden;
}
.tdws_coupon_code h4:hover:after,.tdws_coupon_code h4:hover:before,.tdws_coupon_code h4.active:after,.tdws_coupon_code h4.active:before {
    opacity: 1;
    visibility: visible;
}

.tdws_coupon_code h4.active::after{
    content: "Code Copied";
}

.tdws_coupon_code h4::before {
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%);
    transition: opacity .5s;
    visibility: hidden;
    border-bottom: 10px solid #3258b3;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 0px;
    content: "";
}
.tdws-coupon-item.no-coupon-img .tdws-coupon-info {
    width: 100%;
    padding-left: 0;
}
.woocommerce-order .tdws-coupon-list-wrappper {
    margin-top: 50px;
}
.tdws-brand-logo {
    max-width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.tdws-brand-name {
    display: inline-block;
    vertical-align: middle;
}

.tdws-brand-name h4 {
    color: inherit;
    font-size: 14px;
    vertical-align: middle;
    margin-bottom: 0;
    font-weight: bold;
}

.tdws-brand-box {margin-bottom: 15px;}
a.tdws-coupon-link-item {
    align-items: center;
    display: flex;
    color: inherit;
    outline: 0;
}
a.tdws-coupon-link-item:focus{
    outline: 0;
}
.coupon_interest_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coupon_interest_box .coupon_interest-input {
    width: calc( 100%  - 100px );
}

.coupon_interest-submit {
    width: 100px;
    text-align: right;
}

.coupon_interest_box .coupon_interest-input span.select2.select2-container {
    width: 100% !important;
    
}
.coupon-interest-form h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: inherit;
}

.coupon_interest_box .coupon_interest-input span.select2.select2-container .select2-selection__rendered {
       margin: 0;
}
.coupon_interest_box .coupon_interest-input span.select2-selection {
    min-height: 40px;
    border: 1px solid #ccc;
}
.coupon_interest-submit button {
    border: 0;
    border-radius: 0;
    background: none;
    background-color: #43454b;
    border-color: #43454b;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    text-shadow: none;
    display: inline-block;
    -webkit-appearance: none;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 5px;
    min-width: 80px;
}

/* Write a review button  */
.tdws-write-a-review-box .button.tdws-button-review {
    border: 1px solid #ff6a00;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    background: #fff;
    color: #ff6a00;
    outline: 0;
}
.tdws-write-a-review-box .button.tdws-button-review:hover,.tdws-write-a-review-box .button.tdws-button-review:focus {
    background: #ff6a00;
    outline: 0;
    color: #fff;
}

@media ( max-width : 1300px ){
    .tdws-tracking-item table th.tdws-tracking-no, .tdws-tracking-item table td.tdws-tracking-no,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table th.tdws-tracking-no,.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td.tdws-tracking-no,
    .woocommerce table.shop_table .tdws-tracking-item table th.tdws-tracking-no,.woocommerce table.shop_table .tdws-tracking-item table td.tdws-tracking-no {
        width: 31%;
    }

    .tdws-tracking-item table th, .tdws-tracking-item table td,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table th, .tdws-tracking-item table td,
    .woocommerce table.shop_table .tdws-tracking-item table th, .tdws-tracking-item table td {
        width: 23%;
    }
}

@media ( max-width : 991px ){

    .tdws-tracking-item table th, .tdws-tracking-item table td,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table th, .woocommerce-js .woocommerce table.shop_table  .tdws-tracking-item table td,
    .woocommerce table.shop_table .tdws-tracking-item table th,.woocommerce table.shop_table  .tdws-tracking-item table td {
        font-size: 13px;
        line-height: 16px !important;
    }

    /* Progress Bar CSS  */
    .tdws-icon-box {
        width: 50%;
    }
}
@media ( max-width : 767px ){

    .tdws-tracking-item table thead,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table thead,
    .woocommerce table.shop_table .tdws-tracking-item table thead {
        display: none;
    }

    .tdws-tracking-item table tbody td::before,
    .woocommerce table.shop_table .tdws-tracking-item table tbody td::before,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table tbody td::before {
        content: attr(data-title) "" !important;
        font-weight: 700;
        width: 35%;
        text-align: left;
        font-size: 12px;
        line-height: 13px;
        z-index: 5;
        display: inline-block;
        box-sizing: content-box;
        vertical-align: middle;
        position: relative;
    }

    .tdws-tracking-item table tbody td::after,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table tbody td::after,
    .woocommerce table.shop_table .tdws-tracking-item table tbody td::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 35%;
        height: 100%;
        background: #dfdede;
        z-index: 1;
        content: '';
        padding: 10px;
    }

    .tdws-tracking-item table tbody td,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table tbody td,
    .woocommerce table.shop_table .tdws-tracking-item table tbody td {
        width: 100% !important;
        display: block;
        text-align: right !important;
        border-color: #ccc !important;
        position: relative;
        border: 0 !important;
        border-top: 1px solid #ccc !important;
    }
    .tdws-tracking-item table td span.tdws-td-data,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td span.tdws-td-data,
    .woocommerce table.shop_table .tdws-tracking-item table td span.tdws-td-data {
        width: 63%;
        padding-left: 5px;
        display: inline-block;
        vertical-align: middle;
    }
    .tdws-tracking-item table,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table,
    .woocommerce table.shop_table .tdws-tracking-item table{
        border: 1px solid #ccc;
    }
    .tdws-tracking-item table tbody tr:first-child td.tdws-tracking-no,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table tbody tr:first-child td.tdws-tracking-no,
    .woocommerce table.shop_table .tdws-tracking-item table tbody tr:first-child td.tdws-tracking-no {
        border-top: 0 !important;
    }

    .tdws-progressbar li:after {
        content: '';
        width: 4px;
        height: 75px;   
        left: 10px; 
    }
    .tdws-progressbar li {
        float: none;
        display: block;
        width: 100%;
    }
    .tdws-progress-box {
        text-align: left;
        margin-left: 50px;
        position: relative;
        top: -32px;
    }
    .tdws-progressbar li:before{
        margin: 0;
    }
    .tdws-progressbar li:nth-child(2):after, .tdws-progressbar li:nth-child(3):after,.tdws-progressbar li:first-child:after {
        left: 10.1px;   
    }

    /* Coupon CSS */
    
    .tdws-coupon-info {
        width: 100%;
        padding-left: 0;
        margin-top: 15px;
    }
    
    .tdws-coupon-img {
        width: 100%;
        max-width: 100px;
    }
    
    .tdws-coupon-title-box .tdws-coupon-title {
        font-size: 20px;
        line-height: 26px;
    }
    
    .tdws_coupon_code h4 {
        font-size: 20px;
        font-weight: 600;
    }

    .woocommerce-order .tdws-coupon-list-wrappper {
        margin-top: 30px;
    }
}

@media ( max-width : 575px ){
    .tdws-tracking-item table tbody td::after,.tdws-tracking-item table tbody td::before,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table tbody td::after,.tdws-tracking-item table tbody td::before,
    .woocommerce table.shop_table .tdws-tracking-item table tbody td::after,.tdws-tracking-item table tbody td::before  {
        width:calc(40% - 5px);
        font-size: 11px;
        line-height: 12px !important;

    }
    .tdws-tracking-item table td span.tdws-td-data,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td span.tdws-td-data,
    .woocommerce table.shop_table .tdws-tracking-item table td span.tdws-td-data {
        width: calc(60% - 5px);
    }
    .tdws-tracking-item table tbody td::after,.tdws-tracking-item table th,.tdws-tracking-item table td,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table tbody td::after,.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table th,.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td,
    .woocommerce table.shop_table .tdws-tracking-item table tbody td::after,.woocommerce table.shop_table .tdws-tracking-item table th,.woocommerce table.shop_table .tdws-tracking-item table td {
        padding: 5px !important;
    }
    .tdws-tracking-item table th, .tdws-tracking-item table td,
    .woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table th,.woocommerce-js .woocommerce table.shop_table .tdws-tracking-item table td,
    .woocommerce table.shop_table .tdws-tracking-item table th,.woocommerce table.shop_table .tdws-tracking-item table td {
       font-size: 11px;
       line-height: 12px !important;
   }

   .coupon_interest_box {
    flex-wrap: wrap;
    }
    .coupon_interest_box .coupon_interest-input {
        width: 100%;
        margin-bottom: 10px;
    }
    .coupon_interest-submit {
        width: 100px;
        text-align: left;
    }
    form.coupon-interest-form {
        margin-bottom: 0;
    }
}